<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>171快乐源泉</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <link href="../res/layui/css/layui.css" rel="stylesheet">
  <link href="../res/css/global.css" rel="stylesheet">
</head>
<body>

<div id="app">

  <div class="fly-header layui-bg-black">
    <div class="layui-container">
      <a class="fly-logo" href="/">
        <img alt="logo" src="../res/images/logo.png" style=" height: 37px; width: 135px;">
      </a>

      <ul class="layui-nav fly-nav-user" v-if="!user.username">
        <!-- 未登入的状态 -->
        <li class="layui-nav-item">
          <a class="iconfont icon-touxiang layui-hide-xs" href="../user/login.html"></a>
        </li>
        <li class="layui-nav-item">
          <a href="../user/login.html">登入</a>
        </li>
        <li class="layui-nav-item">
          <a href="../user/reg.html">注册</a>
        </li>
      </ul>

      <ul class="layui-nav fly-nav-user" v-else>
        <!-- 登入后的状态 -->
        <li class="layui-nav-item">
          <a class="fly-nav-avatar" href="javascript:">
            <cite class="layui-hide-xs">{{ user.username }}</cite>
            <!--            <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>-->
            <!--            <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>-->
            <img :alt="user.username" :src="'https://cdn.v2ex.com/gravatar/'+ user.avatar +'?s=36&d=retro'">
          </a>
          <dl class="layui-nav-child">
            <dd><a href="../user/set.html"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
            <dd><a href="../user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
            <dd><a :href="'./user/home.html?' + user.id"><i class="layui-icon"
                                                            style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
            </dd>
            <hr style="margin: 5px 0;">
            <dd><a @click="logout()" style="text-align: center;">退出</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>

  <div class="layui-hide-xs">
    <div class="fly-panel fly-column">
      <div class="layui-container">
        <ul class="layui-clear">
          <li><a :href="'../index.html?' + 0">综合</a></li>
          <li><a :href="'../index.html?' + 1">默认</a></li>
          <li><a :href="'../index.html?' + 2">学习</a></li>
          <li><a :href="'../index.html?' + 3">生活</a></li>

          <!-- 用户登入后显示 -->
          <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block" v-if="user.username">
            <span class="fly-mid"></span>
          </li>
          <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block" v-if="user.username">
            <a href="../user/index.html">我发表的贴</a>
          </li>
          <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block" v-if="user.username">
            <a href="../user/index.html#collection">我收藏的贴</a>
          </li>
        </ul>

        <div class="fly-column-right layui-hide-xs">
          <a class="layui-btn" href="add.html">发表新帖</a>
        </div>
        <div class="layui-hide-sm layui-show-xs-block"
             style="margin-top: -10px; padding-bottom: 10px; text-align: center;">
          <a class="layui-btn" href="add.html">发表新帖</a>
        </div>
      </div>
    </div>
  </div>

  <div class="layui-container">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md8 content detail">
        <div class="fly-panel detail-box">
          <h1>{{ post.title }}</h1>
          <div class="fly-detail-info">
            <span class="layui-badge layui-bg-gray">{{ post.category }}</span>
            <span class="layui-badge layui-bg-orange" v-if="post.status === 0">审核中</span>
            <!--            <span class="layui-badge layui-bg-black">置顶</span>-->
            <span class="layui-badge layui-bg-red" v-if="post.highlight">精帖</span>
            <span class="layui-badge layui-bg-red" v-if="post.star !== 0">已收藏</span>

            <div class="fly-admin-box">
              <a class="layui-btn layui-btn-xs" href="./add.html?id=XX"
                 v-if="user.id === post.user_id || user.role === 0">编辑此贴</a> <!--TODO-->
              <span class="layui-btn layui-btn-xs layui-bg-red"
                    v-if="post.status === 2"
              >已删除</span>
              <span @click="updateStatus(post.id, 2)"
                    class="layui-btn layui-btn-xs layui-bg-red"
                    v-else-if="user.id === post.user_id || user.role === 0"
              >删除</span>

              <span @click="updateHighlight(post.id, 0)"
                    class="layui-btn layui-btn-xs"
                    style="background-color:#ccc;"
                    v-if="user.role === 0 && post.highlight === 1"
              >取消加精</span>
              <span @click="updateHighlight(post.id, 1)"
                    class="layui-btn layui-btn-xs"
                    v-else-if="user.role === 0 && post.highlight === 0"
              >加精</span>
              <span @click="starPost(post.id, 0)"
                    class="layui-btn layui-btn-xs"
                    style="background-color:#ccc;"
                    v-if="post.star !== 0"
              >取消收藏</span>
              <span @click="starPost(post.id, 1)"
                    class="layui-btn layui-btn-xs"
                    v-else-if="user.id"
              >收藏</span>
              <!--              <span class="layui-btn layui-btn-xs jie-admin" field="stick" rank="1" type="set">置顶</span>-->
              <!-- <span class="layui-btn layui-btn-xs jie-admin" type="set" field="stick" rank="0" style="background-color:#ccc;">取消置顶</span> -->
            </div>
            <span class="fly-list-nums">
              <i class="iconfont" title="浏览量">&#xe60b;</i> {{ post.views }}
              <a href="#comment"><i class="iconfont" title="评论数">&#xe60c;</i> {{ post.comment }}</a>
            </span>
          </div>
          <div class="detail-about">
            <a :href="'../user/home.html?' + post.user_id" class="fly-avatar">
              <img :alt="post.username" :src="'https://cdn.v2ex.com/gravatar/'+ post.avatar +'?s=45&d=retro'">
            </a>
            <div class="fly-detail-user">
              <a :href="'../user/home.html?' + post.user_id" class="fly-link">
                <cite>{{ post.username }}</cite>
                <i class="iconfont icon-nan" title="男" v-if="post.gender === '男'"></i>
                <i class="iconfont icon-nv" style="color: #F581B1;" title="女" v-if="post.gender === '女'"></i>
                <span style="color:#5FB878;">({{ post.level_name }})</span>
              </a>
              <span>{{ post.datetime }}</span>
            </div>
            <div class="detail-hits">
              <span>个性签名: {{ post.sign || "这人太懒了 没有签名" }}</span>
            </div>
          </div>
          <div :key="post.id + new Date()" class="detail-body">
            {{ post.content }}
          </div>
        </div>

        <div class="fly-panel detail-box" id="flyReply">
          <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
            <legend>回帖</legend>
          </fieldset>

          <ul class="jieda" id="jieda">
            <li :key="comment.id + new Date()" class="jieda-daan" v-for="comment in comments">
              <div class="detail-about detail-about-reply">
                <a class="fly-avatar" :href="'../user/home.html?' + comment.user_id">
                  <img :alt="comment.username" :src="'https://cdn.v2ex.com/gravatar/'+ comment.avatar +'?s=45&d=retro'">
                </a>
                <div class="fly-detail-user">
                  <a class="fly-link" :href="'../user/home.html?' + comment.user_id">
                    <cite>{{ comment.username }}</cite>
                    <i class="iconfont icon-nan" title="男" v-if="comment.gender === '男'"></i>
                    <i class="iconfont icon-nv" title="女" v-if="comment.gender === '女'"></i>
                  </a>
                  <span v-if="post.user_id === comment.from_id">(楼主)</span>
                  <span style="color:#5FB878" v-if="comment.role === 0">(管理员)</span>
                </div>
                <div class="detail-hits">
                  <span>{{ comment.datetime }}</span>
                </div>
              </div>
              <div class="jieda-body">
                {{ comment.content }}
              </div>
              <div class="jieda-reply">
                <span type="reply">
                <i class="iconfont icon-svgmoban53"></i>
                回复
              </span>
                <div class="jieda-admin">
                  <span @click="editComment(comment.id)" v-if="comment.from_id === user.id || user.role === 0">编辑</span>
                  <span @click="delComment(comment.id)" v-if="comment.from_id === user.id || user.role === 0">删除</span>
                </div>
              </div>
            </li>

            <li class="fly-none" v-if="comments.length === 0">还没有回复</li>
          </ul>

          <div class="layui-form layui-form-pane">
            <form>
              <div class="layui-form-item layui-form-text">
                <a name="comment"></a>
                <div class="layui-input-block">
                  <textarea class="layui-textarea fly-editor" id="L_content" lay-verify="required" name="content"
                            placeholder="请输入内容"
                            required style="height: 150px;">
                  </textarea>
                </div>
              </div>
              <div class="layui-form-item">
                <input :value="post.id" name="post_id" type="hidden">
                <button class="layui-btn" id="comment" lay-filter="comment" lay-submit>提交回复</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="layui-col-md4">
        <dl class="fly-panel fly-list-one">
          <dt class="fly-panel-title">本周热议</dt>
          <dd v-for="post in hotPosts" :key="post.id">
            <a :href="'./jie/detail.html?' + post.id">{{ post.title }}</a>
            <span style="float: right"><i class="iconfont icon-pinglun1"></i> {{ post.comment }}</span>
          </dd>
          <div v-if="hotPosts.length === 0" class="fly-none">没有相关数据</div>
        </dl>

        <div class="fly-panel">
          <div class="fly-panel-title">
            这里可作为广告区域
          </div>
          <div class="fly-panel-main">
            <a class="fly-zanzhu" href="http://layim.layui.com/?from=fly" style="background-color: #5FB878;"
               target="_blank" time-limit="2017.09.25-2099.01.01">LayIM 3.0 - layui 旗舰之作</a>
          </div>
        </div>

        <div class="fly-panel" style="padding: 20px 0; text-align: center;">
          <img alt="layui" src="../res/images/weixin.jpg" style="max-width: 100%;">
          <p style="position: relative; color: #666;">微信扫码关注 layui 公众号</p>
        </div>

      </div>
    </div>
  </div>

  <div class="fly-footer">
    <p>&copy; 2021<a href="https://lsun.net/">Youngsun Li.</a>Powered by Layui & Vue</p>
  </div>
</div>

<script src="../res/layui/layui.js"></script>
<script src="../res/js/vue.min.js"></script>

<script>
    new Vue({
        el: "#app",
        data: {
            user: JSON.parse(sessionStorage.getItem("user")) || {},
            id: window.location.search.substring(1),
            post: {},
            comments: [],
            hotPosts: [],
        },
        created() {
            layui.cache.page = 'jie';
            layui.cache.user = {
                username: '游客',
                uid: -1,
                avatar: '../../res/images/avatar/00.jpg',
                experience: 83,
                sex: '男'
            };
            layui.config({
                version: "3.0.0",
                base: '../res/mods/'
            }).extend({
                fly: 'index'
            }).use(['fly', 'face'], () => {
                this.getDetail();
                this.getHotPosts();

                layui.form.on('submit(comment)', data => {
                    layui.fly.disabled("#comment");
                    layui.fly.api(
                        'http://localhost:8081/comment/submit',
                        data.field,
                        res => {
                            layui.$("#L_content").val("");
                            layer.msg(res.msg, {icon: 6});
                            this.getComments();
                            layui.fly.enabled("#comment");
                        },
                        {
                            error: () => {
                                layui.fly.enabled("#comment");
                            }
                        }
                    );
                    return false;
                });
            });
        },
        methods: {
            logout() {
                layui.fly.logout();
            },
            getDetail() {
                layui.fly.api(
                    "http://localhost:8081/post/detail?id=" + this.id,
                    this.data,
                    res => {
                        this.post = res.data;
                        this.parseContent(".detail-body");
                        this.getComments();
                    },
                    {
                        type: "get"
                    }
                )
            },
            getComments() {
                layui.fly.api(
                    "http://localhost:8081/comment/get_all?id=" + this.id,
                    this.data,
                    res => {
                        this.comments = res.data;
                        this.parseContent(".jieda-body");
                    },
                    {
                        type: "get"
                    }
                )
            },
            parseContent(el) {
                setTimeout(() => {
                    layui.$(el).each(function () {
                        const that = layui.$(this), html = that.html();
                        that.html(layui.fly.content(html));
                    });
                }, 100);
            },
            editComment(id) {

            },
            delComment(id) {
                layer.confirm("确定要删除该回复吗?", (index) => {
                    layer.close(index);
                    layui.fly.api(
                        "http://localhost:8081/comment/del_comment?id=" + id,
                        this.data,
                        res => {
                            layer.msg(res.msg, {icon: 6});
                            this.getComments();
                        },
                        {
                            type: "get"
                        }
                    )
                });
            },
            updateStatus(id, status) {
                layui.fly.api(
                    'http://localhost:8081/post/update_status',
                    {
                        id: id,
                        status: status
                    },
                    res => {
                        layer.msg(res.msg, {icon: 6});
                        setTimeout(() => {
                            location.href = '/';
                        }, 1200);
                    },
                    {
                        type: "get"
                    }
                );
            },
            updateHighlight(id, highlight) {
                layui.fly.api(
                    'http://localhost:8081/post/update_highlight',
                    {
                        id: id,
                        highlight: highlight
                    },
                    res => {
                        layer.msg(res.msg, {icon: 6});
                        this.getDetail();
                    },
                    {
                        type: "get"
                    }
                );
            },
            starPost(id, action) {
                layui.fly.api(
                    'http://localhost:8081/user/star_post',
                    {
                        id: id,
                        action: action
                    },
                    res => {
                        layer.msg(res.msg, {icon: 6});
                        this.getDetail();
                    },
                    {
                        type: "get"
                    }
                );
            },
            getHotPosts() {
                layui.fly.api(
                    "http://localhost:8081/post/get_hot",
                    {},
                    res => {
                        this.hotPosts = res.data;
                    },
                    {
                        type: "get"
                    }
                )
            }
        }

    })

</script>

</body>
</html>
