<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>管理用户</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <link href="../res/layui/css/layui.css" rel="stylesheet">
  <link href="../res/css/global.css" rel="stylesheet">
</head>
<body style="white-space: nowrap; overflow-x: auto;">
<div id="app">

  <div class="fly-header layui-bg-black">
    <div class="layui-container">
      <a class="fly-logo" href="/">
        <img alt="bbs171" src="../res/images/logo.png" style=" height: 37px; width: 135px;">
      </a>

      <ul class="layui-nav fly-nav-user">
        <!-- 登入后的状态 -->
        <li class="layui-nav-item">
          <a class="fly-nav-avatar" href="javascript:">
            <cite class="layui-hide-xs">{{ user.username }}</cite>
            <!--            <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>-->
            <!--            <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>-->
            <img :alt="user.username" :src="'https://cdn.v2ex.com/gravatar/'+ user.avatar +'?s=36&d=retro'" v-if="user.avatar">
          </a>
          <dl class="layui-nav-child">
            <dd><a href="../user/set.html"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
            <dd><a href="../user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
            <dd><a :href="'./user/home.html?' + user.id"><i class="layui-icon"
                                               style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
            </dd>
            <dd v-if="user.role === 0">
              <a href="/user/manage_posts.html">
                <i class="layui-icon" style="margin-left: 3px; margin-right: 7px; font-size: 22px;">&#xe632;</i>
                后台管理
              </a>
            </dd>
            <hr style="margin: 5px 0;">
            <dd><a @click="logout()" style="text-align: center;">退出</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>

  <div class="layui-container fly-marginTop fly-user-main">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
      <li class="layui-nav-item">
        <a href="manage_posts.html">
          <i class="layui-icon">&#xe632;</i>
          管理帖子
        </a>
      </li>
      <li class="layui-nav-item layui-this">
        <a href="manage_users.html">
          <i class="layui-icon">&#xe632;</i>
          管理用户
        </a>
      </li>
    </ul>

    <div class="site-tree-mobile layui-hide">
      <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <div class="site-tree-mobile layui-hide">
      <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>


    <div class="fly-panel fly-panel-user" pad20 style="min-width: 910px">
      <form class="layui-form layui-form-pane" style="padding-top: 8px">
        <div class="layui-form-item">
          <label class="layui-form-label" style="width: 64px">排序</label>
          <label class="layui-form layui-input-inline" style="width: 125px;">
            <select id="sort" name="sort">
              <option value="0">按注册时间</option>
              <option value="1">按上次活跃</option>
              <option value="2">按经验值</option>
            </select>
          </label>
          <label class="layui-form-label" style="width: 64px">状态</label>
          <label class="layui-form layui-input-inline" style="width: 110px;">
            <select id="status" name="status">
              <option selected value="3">全部</option>
              <option value="1">正常</option>
              <option value="2">限制登录</option>
            </select>
          </label>
          <label class="layui-form-label" style="width: 64px">搜索</label>
          <label class="layui-form layui-input-inline">
            <input autocomplete="off" class="layui-input" id="keywords" name="keywords" placeholder="用户名或手机号码(选填)"
                   type="text">
          </label>
          <button class="layui-btn" id="submit" lay-filter="submit" lay-submit>查询</button>
        </div>
      </form>
      <div class="layui-tab-item layui-show">
        <table class="layui-table" lay-size="sm" lay-skin="line" style="text-align: center">
          <colgroup>
            <col width="48">
            <col width="72">
            <col>
            <col width="72">
            <col width="110">
            <col width="134">
            <col width="58">
            <col width="127">
          </colgroup>
          <thead>
          <tr>
            <th style="text-align: center">序号</th>
            <th style="text-align: center">状态</th>
            <th>ID & 用户名</th>
            <th style="text-align: center">手机号码</th>
            <th style="text-align: center">注册时间</th>
            <th style="text-align: center">上次活跃</th>
            <th style="text-align: center">经验值</th>
            <th style="text-align: center">操作</th>
          </tr>
          </thead>
          <tbody>
          <tr :key="user.id" v-for="(user, index) in users">
            <td>{{ index + 1 }}</td>
            <td>
              <span class="layui-badge-rim" style="color: #009688; border-color: #009688"
                    v-if="user.status === 1">正常</span>
              <span class="layui-badge-rim" style="color: #FF5722; border-color: #FF5722" v-else-if="user.status === 2">限制登录</span>
            </td>
            <td style="text-align: left">
              <a :href="'/user/home.html?' + user.id" class="jie-title" style="width: 320px">
                <span class="layui-badge-rim">{{ user.id }}</span>
                {{ user.username }}
              </a>
            </td>
            <td>
              <span class="layui-badge-rim">{{ user.phone }}</span>
            </td>
            <td>{{ user.datetime}}</td>
            <td>{{ user.lastTime}}</td>
            <td>{{ user.experience }}</td>
            <td>
              <span @click="resetPassword(user)" class="layui-btn layui-btn-xs layui-bg-cyan">重置密码</span>
              <span @click="updateUserStatus(user.id, 2)" class="layui-btn layui-btn-xs layui-bg-red" v-if="user.status ===1">封号</span>
              <span @click="updateUserStatus(user.id, 1)" class="layui-btn layui-btn-xs" v-if="user.status === 2">恢复</span>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="fly-none" v-if="users.length === 0">暂无数据</div>
        <div id="LAY_page"></div>
      </div>
    </div>
  </div>

  <div class="fly-footer">
    <p>&copy; 2021<a href="https://lsun.net/">Youngsun Li.</a>Powered by Layui & Vue</p>
  </div>
</div>
<script src="../res/layui/layui.js"></script>
<script src="../res/js/vue.min.js"></script>

<script>
    new Vue({
        el: "#app",
        data: {
            user: JSON.parse(sessionStorage.getItem("user")) || {},
            users: []
        },
        created() {
            layui.cache.page = 'user';
            layui.cache.user = {
                username: '游客',
                uid: -1,
                avatar: '../res/images/avatar/00.jpg',
                experience: 83,
                sex: '男'
            };
            layui.config({
                version: "3.0.0"
                , base: '../res/mods/'
            }).extend({
                fly: 'index'
            }).use('fly', () => {
                if (!this.user.username) {
                    layui.fly.logout();
                    return;
                }

                this.getUsers({
                    sort: 0,
                    status: 3,
                    keywords: ""
                });
                layui.form.on('submit(submit)', data => {
                    this.getUsers(data.field);
                    return false;
                });
            });
        },
        methods: {
            logout() {
                layui.fly.logout();
            },
            getUsers(data) {
                layui.fly.disabled("#submit");
                layui.fly.api(
                    "http://localhost:8081/system/get_users",
                    data,
                    res => {
                        this.users = res.data;
                        layui.fly.enabled("#submit");
                    },
                    {
                        type: "get",
                        error: () => {
                            layui.fly.enabled("#submit");
                        }
                    }
                )
            },
            updateUserStatus(id, status) {
                layui.fly.api(
                    'http://localhost:8081/system/update_user_status',
                    {
                        id: id,
                        status: status
                    },
                    res => {
                        layer.msg(res.msg, {icon: 6});
                        layui.$("#submit").click();
                    },
                    {
                        type: "get"
                    }
                );
            },
            resetPassword(user) {
                layer.confirm('重置' + user.username + '的密码为默认?', {
                    btn: ['确定','取消']
                }, function(){
                    layui.fly.api(
                        'http://localhost:8081/system/reset_password',
                        {
                            id: user.id
                        },
                        res => {
                            layer.msg(res.msg, {icon: 6});
                            layui.$("#submit").click();
                        },
                        {
                            type: "get"
                        }
                    );
                })
            }
        }
    })
</script>
</body>
</html>
