<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <title>帐号设置</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  <link href="../res/layui/css/layui.css" rel="stylesheet">
  <link href="../res/css/global.css" rel="stylesheet">
</head>
<body>
<div id="app">
  <div class="fly-header layui-bg-black">
    <div class="layui-container">
      <a class="fly-logo" href="/">
        <img alt="logo" src="../res/images/logo.png" style=" height: 37px; width: 135px;">
      </a>

      <ul class="layui-nav fly-nav-user">
        <!-- 登入后的状态 -->
        <li class="layui-nav-item">
          <a class="fly-nav-avatar" href="javascript:">
            <cite class="layui-hide-xs">{{ user.username }}</cite>
            <!--            <i class="iconfont icon-renzheng layui-hide-xs" title="认证信息：layui 作者"></i>-->
            <!--            <i class="layui-badge fly-badge-vip layui-hide-xs">VIP3</i>-->
            <img :alt="user.username" :src="user.avatar || '../res/images/avatar/default.png'">
          </a>
          <dl class="layui-nav-child">
            <dd><a href="../user/set.html"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
            <dd><a href="../user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
            <dd><a :href="'./user/home.html?' + user.id"><i class="layui-icon"
                                               style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
            </dd>
            <hr style="margin: 5px 0;">
            <dd><a @click="logout()" style="text-align: center;">退出</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>

  <div class="layui-container fly-marginTop fly-user-main">
    <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
      <li class="layui-nav-item">
        <a :href="'home.html?' + user.id">
          <i class="layui-icon">&#xe609;</i>
          我的主页
        </a>
      </li>
      <li class="layui-nav-item">
        <a href="index.html">
          <i class="layui-icon">&#xe612;</i>
          用户中心
        </a>
      </li>
      <li class="layui-nav-item layui-this">
        <a href="set.html">
          <i class="layui-icon">&#xe620;</i>
          基本设置
        </a>
      </li>
      <li class="layui-nav-item">
        <a href="message.html">
          <i class="layui-icon">&#xe611;</i>
          我的消息
        </a>
      </li>
      <li class="layui-nav-item" v-if="user.role === 0">
        <a href="manage_posts.html">
          <i class="layui-icon">&#xe632;</i>
          管理帖子
        </a>
      </li>
    </ul>

    <div class="site-tree-mobile layui-hide">
      <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>

    <div class="site-tree-mobile layui-hide">
      <i class="layui-icon">&#xe602;</i>
    </div>
    <div class="site-mobile-shade"></div>


    <div class="fly-panel fly-panel-user" pad20>
      <div class="layui-tab layui-tab-brief" lay-filter="user">
        <ul class="layui-tab-title" id="LAY_mine">
          <li class="layui-this" lay-id="info">基本信息</li>
          <li lay-id="avatar">头像</li>
          <li lay-id="pass">密码</li>
        </ul>
        <div class="layui-tab-content" style="padding: 20px 0;">
          <div class="layui-form layui-form-pane layui-tab-item layui-show">
            <form>
              <div class="layui-form-item">
                <label class="layui-form-label" for="L_phone">手机</label>
                <div class="layui-input-inline">
                  <input :value="user.phone" autocomplete="off" class="layui-input" disabled
                         id="L_phone" name="phone" type="text">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label" for="L_username">昵称</label>
                <div class="layui-input-inline">
                  <input :value="user.username" autocomplete="off" class="layui-input" id="L_username"
                         lay-verify="required"
                         name="username"
                         required type="text">
                </div>
                <div class="layui-inline">
                  <div class="layui-input-inline">
                    <input name="gender" title="男" type="radio" v-model="user.gender" value="男">
                    <input name="gender" title="女" type="radio" v-model="user.gender" value="女">
                  </div>
                </div>
              </div>
              <div class="layui-form-item layui-form-text">
                <label class="layui-form-label" for="L_sign">签名</label>
                <div class="layui-input-block">
                  <textarea :value="user.sign" autocomplete="off" class="layui-textarea" id="L_sign" name="sign"
                            placeholder="随便写些什么刷下存在感" style="height: 80px;"></textarea>
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" id="comment" lay-filter="comment" lay-submit>确认修改</button>
              </div>
            </form>
          </div>

          <div class="layui-form layui-form-pane layui-tab-item">
            <div class="layui-form-item">
              <div class="avatar-add">
                <p>建议尺寸168*168，支持jpg、png、gif，最大不能超过50KB</p>
                <button class="layui-btn upload-img" type="button">
                  <i class="layui-icon">&#xe67c;</i>上传头像
                </button>
                <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg">
                <span class="loading"></span>
              </div>
            </div>
          </div>

          <div class="layui-form layui-form-pane layui-tab-item">
            <form>
              <div class="layui-form-item">
                <label class="layui-form-label" for="L_nowpass">当前密码</label>
                <div class="layui-input-inline">
                  <input autocomplete="off" class="layui-input" id="L_nowpass" lay-verify="required" name="oldPassword"
                         required type="password">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label" for="L_pass">新密码</label>
                <div class="layui-input-inline">
                  <input autocomplete="off" class="layui-input" id="L_pass" lay-verify="required" name="newPassword"
                         required type="password">
                </div>
                <div class="layui-form-mid layui-word-aux">6到16个字符</div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label" for="L_repass">确认密码</label>
                <div class="layui-input-inline">
                  <input autocomplete="off" class="layui-input" id="L_repass" lay-verify="required" name="rePassword"
                         required type="password">
                </div>
              </div>
              <div class="layui-form-item">
                <button class="layui-btn" id="password" lay-filter="password" lay-submit>确认修改</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fly-footer">
    <p>&copy; 2021<a href="https://lsun.net/">Youngsun Li.</a>Powered by Layui & Vue</p>
  </div>

</div>

<script src="../res/layui/layui.js"></script>
<script src="../res/js/vue.min.js"></script>

<script>
    new Vue({
        el: "#app",
        data: {
            user: JSON.parse(sessionStorage.getItem("user")) || {}
        },
        created() {
            layui.cache.page = 'user';
            layui.cache.user = {
                username: '游客',
                uid: -1,
                avatar: '../../res/images/avatar/00.jpg',
                experience: 83,
                sex: '男'
            };
            layui.config({
                version: "3.0.0",
                base: '../res/mods/'
            }).extend({
                fly: 'index'
            }).use('fly', () => {
                if (!this.user.username) {
                    layui.fly.logout();
                    return;
                }

                layui.form.on('submit(comment)', data => {
                    layui.fly.disabled("#comment");
                    layui.fly.api(
                        'http://localhost:8081/user/update',
                        data.field,
                        res => {
                            sessionStorage.setItem("user", JSON.stringify(res.user));
                            layer.msg(res.msg, {icon: 6});
                            setTimeout(() => {
                                location.reload();
                            }, 1200)
                            layui.fly.enabled("#comment");
                        },
                        {
                            error: () => {
                                layui.fly.enabled("#comment");
                            }
                        }
                    );
                    return false;
                });

                layui.form.on('submit(password)', data => {
                    console.log(data);
                    if (data.field.newPassword.length < 6 || data.field.newPassword.length > 16) {
                        layer.msg('新密码长度必须为6到16个字符!', {icon: 5, anim: 6});
                    } else if (data.field.newPassword !== data.field.rePassword) {
                        layer.msg('两次密码不一致!', {icon: 5, anim: 6});
                    } else if (data.field.oldPassword === data.field.newPassword) {
                        layer.msg('新密码不能与当前密码一致!', {icon: 5, anim: 6});
                    } else {
                        layui.fly.disabled("#password");
                        layui.fly.api(
                            'http://localhost:8081/user/update_password',
                            data.field,
                            res => {
                                layer.msg(res.msg, {icon: 6});
                                setTimeout(function () {
                                    location.reload();
                                }, 1200)
                                layui.fly.enabled("#password");

                            },
                            {
                                error: () => {
                                    layui.fly.enabled("#password");
                                }
                            }
                        );
                    }
                    return false;
                });

            });
        },
        methods: {
            logout() {
                layui.fly.logout();
            }
        }

    })
</script>

</body>
</html>
